@theme-color : #7bcad9;
@theme-color-darker : #49bfd6;
@white-color : #ffffff;
@gray-color : #909090;
body {
    background-color: @white-color;
    font-family: "Microsoft Yahei"!important;
}

.light-blue-btn {
    color: @white-color;
    background-color: @theme-color;
    &:hover {
        background-color: @theme-color-darker;
    }
}
.grid-100{
    height: 100%;
}

.grid.login-grid {
    .grid-100;
    margin: 0;
    background: url('images/background.jpg') center no-repeat;
    background-size: cover;
    .login-column {
        max-width: 400px;
        margin-right: 100px;
        background-color: @white-color;
        border-radius: 0.28571429rem;
        .header {
            color: @theme-color;
        }
        #login {
            .button {
                .light-blue-btn;
            }
        }
    }
}

#left-menu {
    top: 53px;
    .item {
        color: @gray-color;
        &.active,
        &:hover {
            color: @white-color;
            background-color: @theme-color;
            font-weight: normal;
        }
        &.active:after {
            background-color: @theme-color;
        }
    }
}

.ui.menu .item:before {
    background: none;
}

.ui.menu.page-item .item {
    color: @gray-color;
    &.active,
    &:hover {
        color: @white-color;
        background-color: @theme-color;
        font-weight: normal;
    }
}

.main-wrapper {
    position: relative;
    top: 53px;
    left: 210px;
    padding: 20px;
    width: calc(~"100% - 210px");
}

.ui.form.search {
    button {
        .light-blue-btn;
    }
}

.ui.action.input {
    width: 200px;
}

.ui.table.theme {
    border-top: 0.2em solid @theme-color;
}

.ui.modal>.delete-action {
    text-align: center;
}

.ui.selection.dropdown {
    min-width: 11em;
}

.ui.grid.modify-pwd-grid{
    .grid-100;
    margin-top:100px;
    & .column .form .button {
        .light-blue-btn;
    }
}

.home-item{
    cursor: pointer;
}

.new-employee-modal .ui.checkbox{
    margin: 5px 15px 0 15px;
}

td.remark{
    // width: 40px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.ui.record-search input.time-select{
    width: 130px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    &:focus{
        border-radius: 0;
    }
}