<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<property name="LOG_HOME" value="/tmp/logs" />
	<property name="LOG_NAME" value="gmh-web" />
	<property name="CHARSET" value="UTF-8" />

	<!-- appender指定日志输出位置，此处指定控制台 -->
	<appender name="CONSOLE_OUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志转化为字节数组写入输出流 -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- 格式化 -->
			<pattern>%-30(%d [%thread]) %level %logger{11}[%L] - %msg%n</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<!-- 过滤器，设置过滤日志阙值，该级别及以上的可以打印 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<!-- 记录到文件appender，先记录到文件，到某个时间点记录到别的地方 -->
	<appender name="FILE_INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 此处如果不设置file，日志主目录下将不显示文件该日志文件 -->
		<file>${LOG_HOME}/${LOG_NAME}.log</file>
		<encoder>
			<!-- logger后面的整数可以缩短logger名，缺失默认显示全路径，0只显示最右边方法名，其他表示缩写，最短类全限定名称缩写（首字母）和方法名全称，随着整数变大，logger名称从右向左依次显示全称，但是总长度（包括"."）不大于整数，同时不存在不完整单词 -->
			<pattern>[%thread] | %d | %level | %logger{5}[%L] | %msg%n</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<!-- 按照时间滚动，此处fileNamePattern根据设置的时间精度来调整滚动频率，当前根据%d{yyyy-MM-dd}表示每天滚动 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/backup/${LOG_NAME}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<!-- 建议使用warn级别日志记录参数异常信息（通常记录参数检测不符合预期信息） -->
	<appender name="FILE_WARN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${LOG_NAME}-warn.log</file>
		<encoder>
			<pattern>[%thread] | %d | %level | %logger{5}[%L] | %msg%n</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/backup/${LOG_NAME}-warn.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<!-- 异常和错误日志 -->
	<appender name="FILE_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${LOG_NAME}-error.log</file>
		<encoder>
			<pattern>[%thread] | %d | %level | %logger{5}[%L] | %msg%n</pattern>
			<charset>${CHARSET}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/backup/${LOG_NAME}-error.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<!-- 控制某个包或者类打印级别 -->
	<logger name="com.zes.squad.gmh.web.mapper" level="DEBUG" />

	<!-- 根logger，所有logger日志打印传递到此处（除非设置additivity = "false"），但是只指定appender，不改变logger打印级别 -->
	<root level="INFO">
		<appender-ref ref="CONSOLE_OUT" />
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_WARN" />
		<appender-ref ref="FILE_ERROR" />
	</root>

</configuration>