<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.AppointmentProjectMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.web.entity.po.AppointmentProjectPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="appointment_id" jdbcType="BIGINT" property="appointmentId" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="employee_id" jdbcType="BIGINT" property="employeeId" />
		<result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>

	<insert id="batchInsert"
		parameterType="com.zes.squad.gmh.web.entity.po.AppointmentProjectPo">
		INSERT INTO
		appointment_project(`appointment_id`,`project_id`,`employee_id`,`begin_time`,`end_time`)
		VALUES
		<foreach collection="list" item="po" separator=",">
			(#{po.appointmentId, jdbcType=BIGINT},
			#{po.projectId,
			jdbcType=BIGINT},
			#{po.employeeId, jdbcType=BIGINT},
			#{po.beginTime,
			jdbcType=TIMESTAMP},
			#{po.endTime, jdbcType=TIMESTAMP})
		</foreach>
	</insert>
	<delete id="deleteByAppointmentId" parameterType="long">
		DELETE FROM
		appointment_project WHERE appointment_id = #{appointmentId,
		jdbcType=BIGINT}
	</delete>
	<select id="selectByAppointmentId" parameterType="long"
		resultMap="BaseResultMap">
		SELECT * FROM appointment_project WHERE appointment_id = #{appointmentId,
		jdbcType=BIGINT}
	</select>
</mapper>