<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.AppointmentUnionMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.web.entity.union.AppointmentUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="appointmentPo"
			resultMap="com.zes.squad.gmh.web.mapper.AppointmentMapper.BaseResultMap" />
		<association property="memberPo"
			resultMap="com.zes.squad.gmh.web.mapper.MemberMapper.BaseResultMap"
			columnPrefix="m_" />
		<collection property="appointmentProjectUnions"
			resultMap="com.zes.squad.gmh.web.mapper.AppointmentUnionMapper.BaseResultMap"
			columnPrefix="apu_" />
	</resultMap>
	<sql id="BaseColumnList">
		a.`id`,
		a.`store_id`,
		a.`member_id`,
		a.`phone`,
		a.`name`,
		a.`sex`,
		a.`status`,
		a.`line`,
		a.`remark`,
		a.`created_time`,
		a.`modified_time`,
		e.`id` AS apu_e_id,
		e.`name` AS apu_e_name,
		m.`id` AS
		m_id,
		m.`name` AS m_name,
		p.`id` AS apu_p_id,
		p.`name` AS apu_p_name,
		p.project_type_id AS apu_p_project_type_id,
		p.retail_price AS
		apu_p_retail_price,
		pt.`id` AS apu_pt_id,
		pt.top_type AS
		apu_pt_top_type,
		pt.type_name AS apu_pt_type_name,
		ap.begin_time AS
		apu_ap_begin_time,
		ap.end_time AS apu_ap_end_time
	</sql>
	<select id="listAppointmentUnionsByCondition"
		parameterType="com.zes.squad.gmh.web.entity.condition.AppointmentUnionQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		FROM appointment a
		LEFT JOIN
		appointment_project ap
		ON
		a.id =
		ap.appointment_id
		LEFT JOIN
		employee e
		ON
		ap.employee_id = e.`id`
		LEFT JOIN
		member m
		ON
		a.member_id = m.`id`
		LEFT JOIN
		project p
		ON
		ap.project_id =
		p.`id`
		LEFT JOIN
		project_type pt
		ON
		p.project_type_id = pt.`id`
		<where>
			<if test="storeId != null">
				AND a.store_id = #{storeId, jdbcType=BIGINT}
			</if>
			<if test="phone != null">
				AND a.phone = #{phone, jdbcType=VARCHAR}
			</if>
			<if test="employeeId != null">
				AND ap.`employee_id` = #{employeeId, jdbcType=BIGINT}
			</if>
			<if test="status != null and status.size() != 0">
				AND a.`status` IN
				<foreach collection="status" item="item" separator="," open="("
					close=")">
					#{item, jdbcType=INTEGER}
				</foreach>
			</if>
			<if test="searchString != null and searchString != ''">
				<bind name="search" value="'%' + searchString + '%'" />
				AND CONCAT_WS("",a.`phone`,e.`name`,m.`name`,p.`name`,pt.type_name)
				LIKE #{search}
			</if>
		</where>
		ORDER BY a.created_time DESC
	</select>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		FROM appointment a
		LEFT JOIN
		appointment_project ap
		ON
		a.id =
		ap.appointment_id
		LEFT JOIN
		employee e
		ON
		ap.employee_id = e.`id`
		LEFT JOIN
		member m
		ON
		a.member_id = m.`id`
		LEFT JOIN project p
		ON
		ap.project_id =
		p.`id`
		LEFT JOIN project_type pt
		ON
		p.project_type_id =
		pt.`id`
		WHERE
		a.`id` = #{id, jdbcType=BIGINT}
	</select>
	<select id="selectByTime" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		FROM appointment a
		LEFT JOIN
		appointment_project ap
		ON
		a.id =
		ap.appointment_id
		LEFT JOIN
		employee e
		ON ap.employee_id =
		e.`id`
		LEFT JOIN
		member m
		ON
		a.member_id = m.`id`
		LEFT JOIN project p
		ON
		ap.project_id =
		p.`id`
		LEFT JOIN project_type pt
		ON
		p.project_type_id =
		pt.`id`
		WHERE
		a.`status` = #{status, jdbcType=INTEGER}
		AND
		a.store_id = #{storeId,
		jdbcType=BIGINT}
		AND
		ap.end_time <![CDATA[>]]>
		NOW()
		AND
		ap.end_time <![CDATA[<]]>
		DATE_ADD(NOW(), INTERVAL #{minute, jdbcType=INTEGER} MINUTE)
	</select>
</mapper>