<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.ConsumeRecordProjectUnionMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.web.entity.union.ConsumeRecordProjectUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="consumeRecordProjectPo"
			resultMap="com.zes.squad.gmh.web.mapper.ConsumeRecordProjectMapper.BaseResultMap" />
		<association property="projectPo"
			resultMap="com.zes.squad.gmh.web.mapper.ProjectMapper.BaseResultMap"
			columnPrefix="p_" />
		<association property="projectTypePo"
			resultMap="com.zes.squad.gmh.web.mapper.ProjectTypeMapper.BaseResultMap"
			columnPrefix="pt_" />
		<association property="employeePo"
			resultMap="com.zes.squad.gmh.web.mapper.EmployeeMapper.BaseResultMap"
			columnPrefix="e_" />
	</resultMap>

	<select id="selectByConsumeRecordId" parameterType="long"
		resultMap="BaseResultMap">
		SELECT
		crp.id,
		crp.project_id,
		crp.employee_id,
        crp.charge,
		crp.counselor_id,
        p.name AS p_name,
        p.retail_price AS p_retail_price,
        pt.id AS pt_id,
        pt.top_type AS pt_top_type,
        pt.type_name AS pt_type_name,
        e.name AS e_name
		FROM
		consume_record_project crp
        LEFT JOIN
        project p
        ON
        crp.project_id = p.`id`
        LEFT JOIN
        employee e
        ON
        crp.employee_id = e.`id`
        LEFT JOIN
        project_type pt
        ON
        p.project_type_id = pt.`id`
		WHERE
		consume_record_id = #{consumeRecordId, jdbcType=BIGINT}
	</select>

</mapper>