<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.ConsumeRecordMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.web.entity.po.ConsumeRecordPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="employee_id" jdbcType="BIGINT" property="employeeId" />
		<result column="member" jdbcType="TINYINT" property="member" />
		<result column="member_id" jdbcType="BIGINT" property="memberId" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="consumer_name" jdbcType="VARCHAR" property="consumerName" />
		<result column="charge" jdbcType="DECIMAL" property="charge" />
		<result column="charge_way" jdbcType="INTEGER" property="chargeWay" />
		<result column="source" jdbcType="VARCHAR" property="source" />
		<result column="consume_time" jdbcType="TIMESTAMP" property="consumeTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`store_id`,`project_id`,
		`employee_id`,`member`,`member_id`,`mobile`,
		`age`,`sex`,`consumer_name`,`charge`,
		`charge_way`,`source`,`consume_time`,`remark`,
		`created_time`,`modified_time`
	</sql>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.ConsumeRecordPo">
		<selectKey keyProperty="id" resultType="long" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		consume_record
		(`store_id`,`project_id`,
		`employee_id`,`member`,
		`member_id`,`mobile`,
		`age`,`sex`,
		`consumer_name`,`charge`,
		`charge_way`,`source`,
		`consume_time`,`remark`)
		VALUES
		(#{storeId,jdbcType=BIGINT},
		#{projectId,jdbcType=BIGINT},
		#{employeeId,jdbcType=BIGINT},
		#{member,jdbcType=TINYINT},
		#{memberId,jdbcType=BIGINT},
		#{mobile,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER},
		#{sex,jdbcType=INTEGER},
		#{consumerName,jdbcType=BIGINT},
		#{charge,jdbcType=DECIMAL},
		#{chargeWay,jdbcType=INTEGER},
		#{source,jdbcType=VARCHAR},
		#{consumeTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}
		);
	</insert>
</mapper>