<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.ConsumeRecordUnionMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.web.entity.union.ConsumeRecordUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="consumeRecordPo"
			resultMap="com.zes.squad.gmh.web.mapper.ConsumeRecordMapper.BaseResultMap"
			columnPrefix="cr_" />
		<association property="shopPo"
			resultMap="com.zes.squad.gmh.web.mapper.ShopMapper.BaseResultMap"
			columnPrefix="s_" />
		<association property="projectPo"
			resultMap="com.zes.squad.gmh.web.mapper.ProjectMapper.BaseResultMap"
			columnPrefix="p_" />
		<association property="employeePo"
			resultMap="com.zes.squad.gmh.web.mapper.EmployeeMapper.BaseResultMap"
			columnPrefix="e_" />
	</resultMap>
	<select id="listConsumeRecordsByCondition"
		parameterType="com.zes.squad.gmh.web.entity.condition.ConsumeRecordQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		cr.id AS cr_id,
		cr.store_id AS cr_store_id,
		cr.project_id AS cr_project_id,
		cr.employee_id AS cr_employee_id,
		cr.member_id AS cr_member_id,
		cr.mobile AS cr_mobile,
		cr.consumer_name AS cr_consumer_name,
		cr.charge AS cr_charge,
		cr.charge_way AS cr_charge_way,
		cr.consume_time AS cr_consume_time,
		s.id AS s_id,
		s.name AS s_name,
		p.id AS p_id,
		p.name AS p_name,
		e.id AS e_id,
		e.name AS e_name
		FROM consume_record cr
		LEFT JOIN shop s
		ON
		cr.store_id = s.id
		LEFT JOIN project p
		ON cr.projectId = p.id
		LEFT JOIN
		employee e
		ON cr.employee_id = e.id
		<where>
			<if test="storeId != null">
				AND cr.store_id = #{storeId, jdbcType=BIGINT}
			</if>
			<if
				test="startTime != null and startTime != '' and endTime != null and endTime != ''">
				AND DATE_FORMAT(cr.consume_time, '%Y-%m-%d') BETWEEN
				#{startTime, jdbcType=VARCHAR} AND #{endTime, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY cr.consume_time DESC
	</select>
</mapper>