<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.EmployeeMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.EmployeePo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="em_name" jdbcType="VARCHAR" property="emName" />
		<result column="sex" jdbcType="NUMERIC" property="sex" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="shop_id" jdbcType="BIGINT" property="shopId" />
		<result column="entry_date" jdbcType="DATE" property="entryDate" />
		<result column="quit_date" jdbcType="DATE" property="quitDate" />
		<result column="is_work" jdbcType="NUMERIC" property="isWork" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`em_name`,`sex`,`phone`,`shop_id`,`entry_date`,`quit_date`,`is_work`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="getAll" resultMap="BaseResultMap">
		select * from employee where is_work=1
	</select>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.EmployeePo" useGeneratedKeys="true" keyProperty="id">		
		insert into
		employee(em_name,sex,phone,shop_id,entry_date,quit_date,is_work)
		values
		(#{emName},#{sex},#{phone},#{shopId},#{entryDate},#{quitDate},'1')
	</insert>
	<update id="leave" parameterType="Map" >
		update employee set
		is_work=0,
		quit_date=#{leave}
		where 
		id=#{id}
	</update>
	<update id="update" parameterType="com.zes.squad.gmh.web.entity.po.EmployeePo" >
		update employee set
		em_name=#{emName},
		sex=#{sex},
		phone=#{phone}
		where 
		id=#{id}
	</update>
</mapper>