<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.EmployeeJobMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.EmployeeJobPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="employee_id" jdbcType="BIGINT" property="employeeId" />
		<result column="job_type" jdbcType="INTEGER" property="jobType" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`employee_id`,`job_type`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="getAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM employee_job
	</select>
	<select id="selectByJobType" parameterType="int" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM employee_job
		WHERE
		`job_type` = #{jobType, jdbcType=INTEGER}
	</select>
	<select id="selectByEmployeeId" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM employee_job
		WHERE
		employee_id = #{employeeId, jdbcType=BIGINT}
	</select>
	<insert id="batchInsert" parameterType="list">
		INSERT INTO
		employee_job(`employee_id`,`job_type`)
		VALUES
		<foreach collection="list" item="po" separator=",">
			(#{po.employeeId, jdbcType=BIGINT},
			#{po.jobType, jdbcType=INTEGER})
		</foreach>
	</insert>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.EmployeeJobPo">
		INSERT INTO
		employee_job(employee_id,job_type)
		VALUES(#{employeeId,
		jdbcType=BIGINT},#{jobType, jdbcType=INTEGER})
	</insert>
	<delete id="delteByEmployeeId" parameterType="long">
		DELETE FROM
		employee_job
		WHERE employee_id=#{employeeId}
	</delete>
</mapper>