<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.ProjectMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.ProjectPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<id column="project_type" jdbcType="BIGINT" property="projectType" />
		<id column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`project_type`,`projectName`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="getAll" parameterType="Long" resultMap="BaseResultMap">
		select * from project where project_type in
		(select id from project_type where
			store_id=#{storeId}
		)
	</select>
	<select id="getByType" parameterType="Long" resultMap="BaseResultMap">
		select * from project where project_type=#{projectType}
	</select>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.ProjectPo">
		insert into project(project_type,project_name)
		values
		(#{projectType},#{projectName})
	</insert>
	<update id="update" parameterType="com.zes.squad.gmh.web.entity.po.ProjectPo">
		update project
		set
		project_type=#{projectType},
		project_name=#{projectName}
		where
		id=#{id}
	</update>
	<delete id="delById" parameterType="Long">
		delete from project where 
		id=#{id}
	</delete>
</mapper>