<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.ShopMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.ShopPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="manager" jdbcType="VARCHAR" property="manager" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`name`,`manager`,`phone`,`address`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="search" parameterType="string" resultMap="BaseResultMap">
		<bind name="search" value="'%' + searchString + '%'" />
		SELECT
		<include refid="Base_Column_List" />
		FROM shop WHERE CONCAT_WS("",
		<include refid="Base_Column_List" />
		)
		LIKE CONCAT(#{search})
	</select>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM shop
		where id = #{id, jdbcType=BIGINT}
	</select>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.ShopPo">
		INSERT INTO
		shop(`name`,`manager`,`phone`,`address`)
		values(#{name,
		jdbcType=VARCHAR},#{manager, jdbcType=VARCHAR},#{phone,
		jdbcType=VARCHAR},#{address, jdbcType=VARCHAR})
	</insert>
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM shop
	</select>
	<update id="updateSelective" parameterType="com.zes.squad.gmh.web.entity.po.ShopPo">
		UPDATE shop
		<set>
			<if test="name != null">
				name=#{name, jdbcType=VARCHAR},
			</if>
			<if test="manager != null">
				manager=#{manager, jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone=#{phone, jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address=#{address, jdbcType=VARCHAR}
			</if>
		</set>
		WHERE id=#{id, jdbcType=BIGINT}
	</update>
	<delete id="delById" parameterType="long">
		DELETE FROM shop WHERE
		id=#{id, jdbcType=BIGINT}
	</delete>
	<delete id="batchDelete" parameterType="long[]">
		DELETE FROM shop WHERE id IN
		<foreach collection="array" item="id" separator="," open="("
			close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</delete>
</mapper>