<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.ShopMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.ShopPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="shop_name" jdbcType="VARCHAR" property="shopName" />
		<result column="manager" jdbcType="VARCHAR" property="manager" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`shop_name`,`manager`,`phone`,`address`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="search" parameterType="String" resultMap="BaseResultMap">
		SELECT
		*
		FROM shop WHERE concat_ws("",
		<include refid="Base_Column_List" />
		)
		like concat('%',#{searchString},'%')
	</select>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.ShopPo">
		insert into shop(shop_name,manager,phone,address)
		values(#{shopName},#{manager},#{phone},#{address})
	</insert>
	<select id="getAll" resultMap="BaseResultMap">
		select * from shop
	</select>
	<update id="update" parameterType="com.zes.squad.gmh.web.entity.po.ShopPo">
		update shop set
		shop_name=#{shopName},
		manager=#{manager},
		phone=#{phone},
		address=#{address}
		where
		id=#{id}
	</update>
	<delete id="delById" parameterType="Long">
		delete from shop where
		id=#{id}
	</delete>
</mapper>