<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.StaffMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.StaffPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="staff_level" jdbcType="BIGINT" property="staffLevel" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`email`,`password`,`salt`,`store_id`,`staff_level`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM staff WHERE id = #{id, jdbcType=BIGINT}
	</select>
	<select id="search" parameterType="string" resultMap="BaseResultMap">
		<bind name="search" value="'%' + searchString + '%'" />
		SELECT
		<include refid="Base_Column_List" />
		FROM staff WHERE
		CONCAT_WS("",email,shop_name)
		LIKE #{searchString}
	</select>
	<select id="selectByEmail" parameterType="string" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM staff WHERE email = #{email, jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.StaffPo">
		insert into
		staff(email,`password`,salt,store_id,staff_level)
		values(#{email,
		jdbcType=VARCHAR},#{password, jdbcType=VARCHAR},#{salt,
		jdbcType=VARCHAR},#{storeId, jdbcType=BIGINT},#{staffLevel,
		jdbcType=INTEGER})
	</insert>
	<update id="updatePassword">
		UPDATE staff SET `password` = #{password,
		jdbcType=VARCHAR} WHERE `id` = #{id, jdbcType=BIGINT}
	</update>
	<delete id="updateSelective" parameterType="com.zes.squad.gmh.web.entity.po.StaffPo">
		UPDATE staff
		<set>
			<if test="email != null and email != ''">
				email = #{email, jdbcType=VARCHAR},
			</if>
			<if test="storeId != null">
				store_id = #{storeId, jdbcType=BIGINT},
			</if>
			<if test="staffLevel != null">
				staff_level = #{staffLevel, jdbcType=INTEGER}
			</if>
		</set>
		WHERE id = #{id, jdbcType=BIGINT}
	</delete>
	<delete id="deleteById" parameterType="long">
		DELETE FROM staff WHERE
		`id`
		= #{id, jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByIds" parameterType="long[]">
		DELETE FROM staff WHERE `id` IN
		<foreach collection="array" item="id" separator="," open="("
			close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</delete>
</mapper>