<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.StaffMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.StaffPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="staff_level" jdbcType="BIGINT" property="staffLevel" />
		<result column="principal_name" jdbcType="VARCHAR" property="principalName" />
		<result column="principal_mobile" jdbcType="VARCHAR" property="principalMobile" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<resultMap id="VoResultMap" type="com.zes.squad.gmh.web.entity.vo.StaffVo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="shop_name" jdbcType="VARCHAR" property="storeName" />
		<result column="staff_level" jdbcType="BIGINT" property="staffLevel" />
		<result column="principal_name" jdbcType="VARCHAR" property="principalName" />
		<result column="principal_mobile" jdbcType="VARCHAR" property="principalMobile" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`email`,`password`,`salt`,`store_id`,`staff_level`,`principal_name`,`principal_mobile`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM staff WHERE id = #{id, jdbcType=BIGINT}
	</select>
	<select id="search" parameterType="string" resultMap="VoResultMap">
		select * from staff_vo where
		concat_ws("",email,shop_name,principal_name,principal_mobile)
		like concat('%',#{searchString},'%')
	</select>
	<select id="selectByEmail" parameterType="string" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM staff WHERE email = #{email, jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.StaffPo">
		insert into
		staff(email,password,salt,store_id,staff_level)
		values(#{email},#{password},#{salt},#{storeId},#{staffLevel})
	</insert>
	<update id="updatePassword">
		UPDATE staff SET `password` = #{password,
		jdbcType=VARCHAR} WHERE `id` = #{id, jdbcType=BIGINT}
	</update>
</mapper>