<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.StaffShopUnionMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.web.entity.union.StaffShopUnion">
		<id column="id" jdbcType="BIGINT" property="id"/>
		<association property="staffPo"
			resultMap="com.zes.squad.gmh.web.mapper.StaffMapper.BaseResultMap" />
		<association property="shopPo"
			resultMap="com.zes.squad.gmh.web.mapper.ShopMapper.BaseResultMap"
			columnPrefix="sh_" />
	</resultMap>
	<select id="listStaffShopUnions" resultMap="BaseResultMap">
		SELECT
		s.`id`,
		s.email,
		s.`password`,
		s.salt,
		s.store_id,
		s.staff_level,
		s.created_time,
		s.modified_time,
		sh.`id` AS sh_id,
		sh.`name` AS sh_name,
		sh.manager AS
		sh_manager,
		sh.phone AS sh_phone,
		sh.address AS sh_address,
		sh.created_time AS sh_created_time,
		sh.modified_time AS
		sh_modified_time
		FROM staff s
		LEFT JOIN shop sh
		ON s.store_id = sh.`id`
		<where>
			<if test="searchString != null and searchString != ''">
				<bind name="search" value="'%' + searchString + '%'" />
				CONCAT_WS("",s.email,sh.name,sh.manager,sh.phone)
				LIKE
				CONCAT(#{search})
			</if>
		</where>
	</select>
</mapper>