<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.web.mapper.StockTypeMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.web.entity.po.StockTypePo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`store_id`,`name`,
		`created_time`,
		`modified_time`
	</sql>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM stock_type WHERE id=#{id, jdbcType=BIGINT}
	</select>
	<select id="selectByStoreId" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM stock_type WHERE store_id=#{storeId, jdbcType=BIGINT}
	</select>
	<insert id="insert" parameterType="com.zes.squad.gmh.web.entity.po.StockTypePo">
		INSERT INTO
		stock_type(store_id,name)
		VALUES
		(#{storeId, jdbcType=BIGINT},#{name,
		jdbcType=VARCHAR})
	</insert>
	<update id="updateSelective" parameterType="com.zes.squad.gmh.web.entity.po.StockTypePo">
		UPDATE stock_type
		<set>
			<if test="name != null">
				`name` = #{name, jdbcType=VARCHAR}
			</if>
		</set>
		WHERE id = #{id, jdbcType=BIGINT}
	</update>
	<delete id="delById" parameterType="long">
		DELETE FROM stock_type WHERE
		id = #{id, jdbcType=BIGINT}
	</delete>
	<delete id="batchDelete" parameterType="long[]">
		DELETE FROM stock_type WHERE id IN
		<foreach collection="array" item="id" separator="," open="("
			close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</delete>
	<select id="search" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		stock_type WHERE store_id=#{storeId, jdbcType=BIGINT}
		<if test="searchString != null and searchString != ''">
			<bind name="search" value="'%' + searchString + '%'" />
			AND CONCAT_WS("",`name`) LIKE #{search}
		</if>
	</select>
</mapper>