body {
  background-color: #ffffff;
  font-family: "Microsoft Yahei" !important;
}
.light-blue-btn {
  color: #ffffff;
  background-color: #7bcad9;
}
.light-blue-btn:hover {
  background-color: #49bfd6;
}
.grid-100 {
  height: 100%;
}
.grid.login-grid {
  height: 100%;
  margin: 0;
}
.grid.login-grid .login-column {
  max-width: 350px;
  border-radius: 0.28571429rem;
}
.grid.login-grid .login-column .header {
  color: #ffffff;
}
.grid.login-grid .login-column .header .image {
  width: 7em;
}
.grid.login-grid .login-column .header .content {
  margin-top: 10px;
}
.grid.login-grid .login-column .header .content p {
  margin-bottom: 0;
  font-size: 1em;
  font-family: "Microsoft Yahei";
  font-weight: normal;
}
.grid.login-grid .login-column .header .content .second {
  font-size: 0.73em;
}
.grid.login-grid .login-column #login .button {
  border-radius: 25px;
  width: 120px;
  color: #7bcad9;
  background-color: #f2f2f2;
  box-shadow: 0px 1px 2px #888888;
}
.grid.login-grid .login-column #login .login-link {
  margin-top: 10px;
}
.grid.login-grid .login-column #login .login-link .forget-pwd {
  color: #7bcad9;
}
#left-menu {
  top: 53px;
}
#left-menu .item {
  display: none;
  color: #909090;
}
#left-menu .item.active,
#left-menu .item:hover {
  color: #ffffff;
  background-color: #7bcad9;
  font-weight: normal;
}
#left-menu .item.active:after {
  background-color: #7bcad9;
}
.ui.menu .item:before {
  background: none;
}
.ui.menu.page-item .item {
  color: #909090;
}
.ui.menu.page-item .item.active,
.ui.menu.page-item .item:hover {
  color: #ffffff;
  background-color: #7bcad9;
  font-weight: normal;
}
.main-wrapper {
  position: relative;
  top: 53px;
  left: 210px;
  padding: 20px;
  width: calc(100% - 210px);
}
.mobile-wrapper {
  position: relative;
  top: 75px;
}
.ui.form.search button {
  color: #ffffff;
  background-color: #7bcad9;
}
.ui.form.search button:hover {
  background-color: #49bfd6;
}
.ui.action.input {
  width: 200px;
}
.ui.table.theme {
  border-top: 0.2em solid #7bcad9;
}
.ui.modal > .delete-action {
  text-align: center;
}
.ui.selection.dropdown {
  min-width: 11em;
}
.ui.selection.dropdown.check-appointment-select {
  min-width: 100%;
}
.ui.grid.modify-pwd-grid,
.ui.grid.forget-pwd-grid {
  height: 100%;
  margin-top: 100px;
}
.ui.grid.modify-pwd-grid .column .form .button,
.ui.grid.forget-pwd-grid .column .form .button {
  color: #ffffff;
  background-color: #7bcad9;
}
.ui.grid.modify-pwd-grid .column .form .button:hover,
.ui.grid.forget-pwd-grid .column .form .button:hover {
  background-color: #49bfd6;
}
#forget-pwd-auth {
  margin-top: 15px;
}
.home-item {
  cursor: pointer;
}
.new-employee-modal .ui.checkbox {
  margin: 5px 15px 0 15px;
}
td.remark {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui.record-search input.time-select {
  width: 130px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.ui.record-search input.time-select:focus {
  border-radius: 0;
}
#chart1,
#chart2 {
  display: inline-block;
}
.ui.form input[type="text"].login-input {
  border: 1px;
  border-radius: 25px;
  background-color: #f8f8f8;
  box-shadow: 0px 1px 1px #888888 inset;
}
.ui.form input[type="password"].login-input {
  border: 1px;
  border-radius: 25px;
  background-color: #f8f8f8;
  box-shadow: 0px 1px 1px #888888 inset;
}
.ui.message.login-message {
  border-radius: 25px;
}
.login-footer {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
  color: #909090;
}
.login-footer a {
  text-decoration: underline;
  color: #5d5d5d;
}
.reserve-time {
  background-color: #7bcad9;
  height: calc(100% - 130px);
  margin-top: 20px;
}
